C:\Users\victo\eclipse-workspace\SevenDaysOfCodeAlura\src\br\com\alura\request\imdbApi\API_Key.java
C:\Users\victo\eclipse-workspace\SevenDaysOfCodeAlura\bin\br\com\alura\request\imdbApi\API_Key.class